<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
	<bean id="user" class="fun.xiaorang.spring.beandefinition.User">
		<property name="id" value="1"/>
		<property name="username" value="xiaorang"/>
		<property name="age" value="18"/>
	</bean>

	<!--	开启包扫描-->
	<context:component-scan base-package="fun.xiaorang.spring.beandefinition"/>
</beans>